# Configurações do Servidor
PORT=3000
NODE_ENV=development

# ID do Projeto no Firebase
FIREBASE_PROJECT_ID=brasiinha

# Caminho para o arquivo de credenciais da Conta de Serviço (opcional se rodando com credenciais padrão do GCP)
# GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json
